HOST=localhost
PORT=8080
NODE_ENV=development
MONGO_URI=mongodb+srv://admin:Daressalam@defconone-ak0ki.mongodb.net/Defcon_One_Auth?retryWrites=true&w=majority

JWT_SECRET=s%3Af-LcbnMAtrDwm87ExePnNxrakQBApz2F.fkY%2FiA4%2FekLHtzJ3bLswxLKeHz2iE7gYHcR6s8idtH4
JWT_EXPIRY_IN=10